* {
    box-sizing: border-box;
}




.background-image {
    position: relative;
    z-index: 1;
    width: 100%;    
}



  header h1 {
   color: #fff;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: 0px 0px 12px #000;
   font-size: 36px;
   text-transform: uppercase;
   z-index: 3;
    
  }


.profile-pic {
    border-radius: 50px;
    position: relative;   
}


/*about me paragraph*/
.about-me {
    padding: 15px;
    text-align: justify;   
}

.about-me, .intro {
    background-color: #fff;
}

/*body background color*/
body {
    background: #007C85;
}

/*current skills list*/

/*unordered list position moves bullets inside*/
ul {
    list-style-position: inside;
  }

/* removes the list numbers from list*/
 ol li{
     list-style: none;
 } 

  /* styles the horizontal thermatic break*/
 hr {
     height: 5px;
     border: 2px solid black;
       /* size style color */
     margin-top: 100px;
     margin-bottom: 100px;
 }



/* pseudo-class selectors for contact links*/
a:link {
    color:#F5F5F5;
}

a:visited {
    color: #F5F5F5;
}

a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}

  /* footer */
.copyright{
    padding-top: 25px;
    text-align: center;
    border-top: 2px solid #fff;
    background-color: #fff ;
}
